{% extends "player.html.jinja" %}

{% block positional_information %}
<div id="armSlot">
    <b>Arm Slot:</b> {{ player.armSlot }}
</div>
{% endblock positional_information %}

{% block attributes %}
<div id="velocity">
    <b>Velocity:</b> {{ player.velocity }}
</div>

<div id="movementL">
    <b>Movement vs LHB:</b> {{ player.movementL // 2 }}
</div>

<div id="movementR">
    <b>Movement vs RHB:</b> {{ player.movementR // 2 }}
</div>

<div id="controlL">
    <b>Control vs LHB:</b> {{ player.controlL // 2 }}
</div>

<div id="controlR">
    <b>Control vs RHB:</b> {{ player.controlR // 2 }}
</div>

<div id="stamina">
    <b>Stamina:</b> {{ player.stamina // 2 }}
</div>

<div id="holdRunners">
    <b>Holding Runners:</b> {{ player.holdRunners // 2 }}
</div>

<br>

{% for pitch, rating in pitches %}
<div id="{{ pitch }}">
    <b>{{ pitch }}:</b> {{ rating // 2 }}
</div>
{% endfor %}

<br>

<div id="gbRate">
    <b>Groundball Percentage:</b> {{ player.gbRate }}%
</div>
{% endblock attributes %}
